.action-panel .content {
	border: 1px solid #ddd;
	border-top:0;
	padding:10px;
	height:350px;
}

.action-panel .content.misc .player {
	overflow:auto;
	height:20px;
}
.action-panel .content.misc .player .player-item {
	float:left;
}
.action-panel .content.misc .player .player-item.player-colour {
	margin:5px;
	padding:5px;
}

.action-panel .program-operations {
	overflow:auto;
	margin:2px 0;
}
.action-panel .program-operation {
	float: left;
	width: 20px;
	height: 20px;
	background-color: lightgrey;
	margin-left: 5px;
	background-repeat: no-repeat;
}
.action-panel .program-operation:first-child {
	margin-left: 0;
}
