<div class="action-panel">
	<ul class="nav nav-tabs">
		<li data-ng-repeat="nav in navs" data-ng-class="{active:nav.active}"><a data-ng-click="nav.select()"><span class="glyphicon {{nav.icon}}"></span></a></li>
	</ul>
	<div class="content misc" data-ng-show="content=='misc'">
		<div class="">
			<center>{{map.label}}</center>
		</div>
		<div class="player" data-ng-repeat="player in map.teams">
			<div class="player-item player-colour" style="background-color:{{player.colour}};"></div>
			<div class="player-item player-blocks">
				{{player.blocks.length}}
			</div>
			<div class="player-item player-memory" data-ng-show="player.hci">
				{{player.memory}}
				{{player.garbageCollector.current}}
			</div>
			<div class="player-item player-ai">
			</div>
		</div>
		<ul class="objectives">
			<li class="objective" data-ng-repeat="objective in map.objectives">
				{{objective}}
			</li>
		</ul>
	</div>
	<div class="content static" data-ng-show="content=='static'">
		
	</div>
	<div class="content program" data-ng-show="content=='program'">
		<div data-ng-show="grid.block.select.unit.abilities">
			Abilities
			<div class="program-operations">
				<div class="program-operation" 
					data-ng-repeat="ability in grid.block.select.unit.abilities" 
					title="{{ability.label}}: {{ability.description}}"
					style="background-image:url({{ability.img}});"
				>
				</div>
			</div>
		</div>
		<div data-ng-show="grid.block.select.unit.actions && grid.block.select.unit.team.hci">
			Actions
			<div class="program-operations">
				<div class="program-operation" 
					data-ng-repeat="action in grid.block.select.unit.actions" 
					title="{{action.label}}"
					data-ng-click="action.activate(grid.block.select, map)"
					data-ng-class="{disabled:!action.enabled}"
					style="background-image:url({{action.img}});"
				>
				</div>
			</div>
		</div>
	</div>
	
	<div class="">
		<div class="btn-group">
			<button class="btn" data-ng-click="map.cycleCPU()">Cycle CPU</button>
		</div>
	</div>
</div>