<div class="action-panel">
	<ul class="nav nav-tabs">
		<li data-ng-repeat="nav in navs" data-ng-class="{active:nav.active}"><a data-ng-click="nav.select()"><span class="glyphicon {{nav.icon}}"></span></a></li>
	</ul>
	<div class="content misc" data-ng-show="content=='misc'">
		<div class="player" data-ng-repeat="player in map.teams">
			<div class="player-item player-colour" style="background-color:{{player.colour}};"></div>
			<div class="player-item player-blocks">
				{{player.blocks.length}}
			</div>
			<div class="player-item player-ai">
			</div>
		</div>
	</div>
	<div class="content static" data-ng-show="content=='static'">
		
	</div>
	<div class="content program" data-ng-show="content=='program'">
		{{grid.block.select.x}}
		{{grid.block.select.y}}
	</div>
</div>