<div>

	<div 
		class="isometric-block" 
		data-ng-repeat="block in map.isometricOrder" 
		style="
			width:{{blockSize.width}}px;
			height:{{blockSize.height}}px;
			left:{{(block.isometric.x*blockSize.width)+offsets.left}}px;
			top:{{(block.isometric.y*blockSize.height)+offsets.top}}px;
		"
		data-ng-click="clickBlock(block.x,block.y)"
	>
		<div class="bg-image"></div>
		<div class="ownership" data-ng-class="{selected:block.selected, highlighted:block.highlighted}">
			<div class="ownership-v" style="background-color:{{block.ownership.colour||unclaimedColour}};">
			</div>
			<div class="ownership-h" style="background-color:{{block.ownership.colour||unclaimedColour}};">
			</div>
			<div class="ownership-claimed">
				<div class="structure">
				</div>
				<div class="unit-colour" style="background-color:{{block.unit.team.colour||'transparent'}};">
				</div>
				<div class="highlighted-back"></div>
				<div class="selected-back"></div>
				<div data-ng-show="block.unit" class="unit" style="background-image:url({{block.unit.img}});">
				</div>
			</div>
			<div class="highlighted-front"></div>
			<div class="selected-front"></div>
		</div>

	</div>

	<div 
		class="isometric-bridge" 
		data-ng-repeat="bridge in map.bridges" 
		style="
			width:{{bridgeSize.width}}px;
			height:{{bridgeSize.height/2}}px;
			left:{{(bridge.isometric.x*blockSize.width)+offsets.left+(bridgeSize.width/2)}}px;
			top:{{(bridge.isometric.y*blockSize.height)+offsets.top+(bridgeSize.height/4)-14}}px;
			background-position-y:{{bridge.bgPos}}px;
		">
	</div>

</div>