<div class="scrollbar">
	<div class="scrollbar-inner" data-ng-style="{width:width}"></div>
</div>

The idea is to implement a scrollbar which will measure and control the width of the window area.
The 'bottom' container needs to stick to the bottom, and remove the border.
The previous track row needs to be given no border as per the class no-border.
The containing class 'foreground' needs to inherit the height with 100% height.
The scrollbar can then be positioned using css and the attached template controlled accordingly.
